# 1. Understanding the data

## Non graphical approach

In [1]:
#Load the required libraries
import pandas as pd
import numpy as np
import seaborn as sns

#Load the data
df = pd.read_csv('./data/salaries.csv')


#View the data
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,SE,FT,Manager,115000,USD,115000,US,0,US,M
1,2025,SE,FT,Manager,85000,USD,85000,US,0,US,M
2,2025,SE,FT,Consultant,171800,USD,171800,US,0,US,M
3,2025,SE,FT,Consultant,96600,USD,96600,US,0,US,M
4,2025,MI,FT,Data Scientist,145000,USD,145000,US,0,US,M

In [2]:
#Basic information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73306 entries, 0 to 73305
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           73306 non-null  int64
 1   experience_level    73306 non-null  object
 2   employment_type     73306 non-null  object
 3   job_title           73306 non-null  object
 4   salary              73306 non-null  int64
 5   salary_currency     73306 non-null  object
 6   salary_in_usd       73306 non-null  int64
 7   employee_residence  73306 non-null  object
 8   remote_ratio        73306 non-null  int64
 9   company_location    73306 non-null  object
 10  company_size        73306 non-null  object
dtypes: int64(4), object(7)
memory usage: 6.2+ MB

There are 11 columns or variable types, from which 7 are categorical and 4 scalar. It seems that NaN values are not included in the dataset based this table.

In [4]:
#Examine descriptive statistic
df.describe()

          work_year        salary  salary_in_usd  remote_ratio
count  73306.000000  7.330600e+04   73306.000000  73306.000000
mean    2023.833711  1.625969e+05  157987.709151     21.560991
std        0.480106  1.929621e+05   72504.604716     41.008080
min     2020.000000  1.400000e+04   15000.000000      0.000000
25%     2024.000000  1.068400e+05  106800.000000      0.000000
50%     2024.000000  1.480000e+05  147500.000000      0.000000
75%     2024.000000  2.000000e+05  199700.000000      0.000000
max     2025.000000  3.040000e+07  800000.000000    100.000000

This table shows that there are only 4 continuous variables to calculate values with descriptive statistic. The information collected goes from the year 2020-2025, the column of salary variates because it is given in different currencies, but when normalized to USD the salary range in Data professions goes from 15.000 USD to 800.000 USD. The most common salary in USD and remote ratio are obtained with "the mode" below.

In [ ]:
#Obtaining modes 
print('Most common salary in Dollars (USD):', df['salary_in_usd'].mode())
print('Most common remote ratio:', df['remote_ratio'].mode())

Most common salary in Dollars (USD): 0    160000
Name: salary_in_usd, dtype: int64
Most common remote ratio: 0    0
Name: remote_ratio, dtype: int64

The most common salary is around 160.000 USD a year, and the most common remote ratio (0) indicates that the remote Data jobs are not common.

In [5]:
#checking for missing values
df.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

There are not missing values!

In [ ]:
#Exploring values in categorical variables 
print('Experience level:', df['experience_level'].unique())
print('Employment type:', df['employment_type'].unique())
print('Job title:', df['job_title'].unique())
print('Company size:', df['company_size'].unique())

Experience level: ['SE' 'MI' 'EN' 'EX']
Employment type: ['FT' 'CT' 'PT' 'FL']
Job title: ['Manager' 'Consultant' 'Data Scientist' 'Software Engineer' 'Analyst'
 'Architect' 'Data Analyst' 'Associate' 'Data Management Specialist'
 'Data Governance' 'Data Engineer' 'Product Manager' 'Applied Scientist'
 'Software Development Engineer' 'Engineer' 'Research Scientist'
 'Machine Learning Engineer' 'Machine Learning Scientist'
 'Business Intelligence Developer' 'Data Architect' 'Power BI Developer'
 'Data Product Owner' 'AI Architect' 'AI Engineer' 'Research Engineer'
 'Data Manager' 'Quantitative Developer' 'Technical Lead'
 'Sales Development Representative' 'System Engineer' 'Analytics Engineer'
 'Solution Architect' 'Encounter Data Management Professional'
 'Data Infrastructure Engineer' 'Data Team Lead'
 'Business Intelligence Lead' 'DevOps Engineer' 'Decision Scientist'
 'Data Visualization Engineer' 'Data Governance Analyst'
 'Data Quality Analyst' 'Lead Analyst' 'Data Specialist'
 'Software Developer' 'Business Intelligence Analyst'
 'Solutions Architect' 'Engineering Manager' 'MLOps Engineer'
 'Business Intelligence Engineer' 'Data Developer'
 'Data and Reporting Analyst' 'Postdoctoral Fellow' 'Developer'
 'Product Owner' 'Platform Engineer' 'Research Analyst'
 'Data Reporting Analyst' 'Full Stack Engineer' 'Data Product Manager'
 'Solutions Engineer' 'Systems Engineer' 'Data Quality Engineer'
 'Insight Analyst' 'Data Management Analyst' 'Product Designer'
 'Principal Software Architect' 'Statistical Programmer'
 'Business Intelligence' 'Data Lead' 'Computational Biologist'
 'Data Strategist' 'Principal Statistical Programmer' 'BI Engineer'
 'Research Assistant' 'Backend Engineer' 'Full Stack Developer'
 'Enterprise Account Executive' 'Business Analyst'
 'Data Integration Analyst' 'Data Analytics Consultant' 'BI Developer'
 'Research Associate' 'Machine Learning Researcher' 'Principal Researcher'
 'AI Developer' 'QA Engineer' 'AI Researcher' 'Head of Data'
 'Statistician' 'Risk Analyst' 'Data Governance Specialist'
 'Data Operations Engineer' 'Data Analytics Manager' 'Tech Lead'
 'Algorithm Developer' 'Cloud Engineer' 'Data Governance Lead'
 'Data Management Lead' 'Data Analytics Specialist' 'Data Strategy Lead'
 'Analytics Specialist' 'Analytics Lead' 'Data Analytics Developer'
 'Data Modeler' 'Data Operations Manager' 'Quantitative Researcher'
 'Product Analyst' 'Bioinformatics Scientist' 'BI Analyst'
 'Quantitative Analyst' 'Robotics Engineer' 'Machine Learning Developer'
 'Site Reliability Engineer' 'Analista de Datos' 'Big Data Analyst'
 'Data Scientist Manager' 'Data Quality Lead' 'Pricing Analyst'
 'Python Developer' 'Lead Data Engineer' 'Technical Writer'
 'Lead Engineer' 'Machine Learning Lead' 'Data and Reporting Professional'
 'Bioinformatician' 'AI Scientist' 'Computer Vision Engineer'
 'Data Management Associate' 'AI Specialist' 'AI Engineering Manager'
 'Member of Technical Staff' 'Machine Learning Specialist'
 'Backend Developer' 'Data Operations Specialist' 'Data Analytics Lead'
 'Machine Learning Engineer 5' 'Data Management Coordinator'
 'Technology Integrator' 'Data Governance Manager'
 'Business Intelligence Specialist' 'Prompt Engineer'
 'Scala Spark Developer' 'AI Product Owner' 'Analytics Analyst'
 'Controls Engineer' 'Data Integration Engineer'
 'Machine Learning Tech Lead' 'Clinical Data Operator'
 'Business Development Manager' 'AI Data Engineer'
 'Cloud Database Administrator' 'Data Management Consultant'
 'Master Data Management' 'Data Reporter' 'AI Lead'
 'Business Insights Manager' 'Power BI Administrator'
 'Data Operations Analyst' 'Machine Learning Architect'
 'AI Research Scientist' 'AI Data Scientist' 'Software Architect'
 'Cloud Database Engineer' 'Stage' 'Head of AI'
 'Data Visualization Developer' 'Data Platform Engineer'
 'Data Integration Developer' 'Business Intelligence Manager'
 'Data Integration Specialist' 'Data Integrity Analyst'
 'Platform Data Engineer' 'Bear Robotics'
 'Principal Application Delivery Consultant'
 'Data Visualization Specialist' 'Director of Machine Learning'
 'Data Quality Specialist' 'Chatbot Developer' 'ETL Developer'
 'Artificial Intelligence Engineer' 'Data Governance Architect'
 'Power BI Consultant' 'Backend Software Engineer'
 'Data Visualization Analyst' 'AI Product Manager'
 'Data Operations Associate' 'Big Data Developer'
 'ML Infrastructure Engineer' 'AI Machine Learning Engineer'
 'Cloud Developer' 'Data Operations Lead' 'Fullstack Engineer'
 'Machine Learning Quality Engineer' 'Security Engineer'
 'Databricks Engineer' 'DataOps Engineer' 'Infrastructure Engineer'
 'Solution Engineer' 'Big Data Engineer'
 'Machine Learning Performance Engineer' 'Actuarial Analyst'
 'Data Analytics Associate' 'Power BI Architect'
 'Machine Learning Platform Engineer' 'AI Solution Architect'
 'Data Scientist Lead' 'Machine Vision Engineer' 'Technical Specialist'
 'Data Governance Engineer' 'Machine Learning Model Engineer'
 'Marketing Analyst' 'Data Management Manager'
 'Marketing Analytics Manager' 'Applied AI ML Lead'
 'Data Strategy Manager' 'Machine Learning Manager' 'Data Product Analyst'
 'Data Quality Manager' 'Elasticsearch Administrator'
 'Machine Learning Infrastructure Engineer' 'People Data Analyst'
 'Frontend Engineer' 'NLP Engineer' 'SAS Developer'
 'Data Analytics Team Lead' 'Machine Learning Modeler'
 'Data Integration Coordinator' 'AI Programmer' 'Admin & Data Analyst'
 'Head of Business Intelligence' 'Head of Machine Learning' 'ETL Engineer'
 'AI Research Engineer' 'Business Intelligence Consultant'
 'Robotics Software Engineer' 'AI Software Engineer' 'Lead AI Engineer'
 'AI Software Development Engineer' 'Master Data Specialist'
 'Consultant Data Engineer' 'Manager Data Management'
 'Director of Business Intelligence' 'Lead Data Scientist'
 'Applied Research Scientist' 'CRM Data Analyst' 'BI Data Analyst'
 'Applied Data Scientist' 'Data DevOps Engineer'
 'Quantitative Research Analyst' 'Lead Machine Learning Engineer'
 'Machine Learning Research Engineer' 'Data Analyst Lead'
 'Data Pipeline Engineer' 'Lead Data Analyst' 'Business Data Analyst'
 'Marketing Data Scientist' 'Deep Learning Engineer'
 'Financial Data Analyst' 'Azure Data Engineer' 'Principal Data Scientist'
 'Staff Data Analyst' 'Machine Learning Software Engineer'
 'Applied Machine Learning Scientist'
 'Principal Machine Learning Engineer' 'Principal Data Engineer'
 'Staff Machine Learning Engineer' 'Staff Data Scientist'
 'Business Intelligence Data Analyst' 'Finance Data Analyst'
 'Software Data Engineer' 'Compliance Data Analyst' 'Cloud Data Engineer'
 'Analytics Engineering Manager' 'AWS Data Architect'
 'Product Data Analyst' 'Autonomous Vehicle Technician'
 'Sales Data Analyst' 'Applied Machine Learning Engineer'
 'BI Data Engineer' 'Deep Learning Researcher' 'Big Data Architect'
 'Computer Vision Software Engineer' 'Marketing Data Engineer'
 'Data Science Tech Lead' 'Marketing Data Analyst'
 'Principal Data Architect' 'Data Analytics Engineer'
 'Cloud Data Architect' 'Principal Data Analyst']
Company size: ['M' 'L' 'S']

In [ ]:
#Exploring values in categorical variables
print('Salary currency:', df['salary_currency'].unique())
print('Employee residence:', df['employee_residence'].unique())
print('Company location:', df['company_location'].unique())

Salary currency: ['USD' 'INR' 'GBP' 'EUR' 'PHP' 'CAD' 'SGD' 'BRL' 'PLN' 'CHF' 'AUD' 'JPY'
 'DKK' 'CZK' 'HUF' 'MXN' 'ILS' 'TRY' 'ZAR' 'SEK' 'NZD' 'NOK' 'HKD' 'THB'
 'CLP']
Employee residence: ['US' 'CA' 'GB' 'AU' 'IN' 'DE' 'LT' 'SK' 'FR' 'AT' 'PH' 'AM' 'SG' 'LU'
 'BR' 'NL' 'IT' 'CO' 'CL' 'PL' 'CY' 'ES' 'RW' 'NZ' 'CH' 'LV' 'IL' 'CZ'
 'IE' 'JP' 'PE' 'KR' 'ZA' 'EG' 'PR' 'LB' 'GR' 'AR' 'FI' 'MX' 'DK' 'NG'
 'BE' 'BG' 'EC' 'SV' 'CR' 'HU' 'PT' 'HR' 'KE' 'SE' 'UA' 'TR' 'PK' 'HN'
 'MT' 'RO' 'VE' 'BM' 'VN' 'RS' 'GE' 'AE' 'SA' 'OM' 'BA' 'EE' 'UG' 'SI'
 'MU' 'TH' 'QA' 'RU' 'TN' 'GH' 'AD' 'MD' 'NO' 'UZ' 'HK' 'CF' 'KW' 'IR'
 'AS' 'CN' 'BO' 'DO' 'ID' 'MY' 'DZ' 'IQ' 'JE']
Company location: ['US' 'CA' 'GB' 'AU' 'IN' 'DE' 'LT' 'SK' 'FR' 'AT' 'PH' 'AM' 'SG' 'LU'
 'BR' 'NL' 'IT' 'CO' 'CL' 'PL' 'CY' 'ES' 'CD' 'NZ' 'CH' 'LV' 'IL' 'CZ'
 'IE' 'JP' 'PE' 'KR' 'ZA' 'EG' 'PR' 'LB' 'GR' 'AR' 'FI' 'MX' 'DK' 'NG'
 'BE' 'BG' 'EC' 'SV' 'CR' 'HU' 'PT' 'HR' 'KE' 'SE' 'UA' 'TR' 'PK' 'HN'
 'MT' 'RO' 'VE' 'DZ' 'AS' 'RS' 'AE' 'SA' 'OM' 'BA' 'EE' 'VN' 'GI' 'SI'
 'MU' 'RU' 'QA' 'GH' 'AD' 'NO' 'HK' 'CF' 'TH' 'IR' 'BS' 'ID' 'MY' 'IQ'
 'CN' 'MD']

## Graphical approach
This part will help to visualize the categorical variables to understand the data.