In [2]:
pip install pandas -q

Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install numpy -q

Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install matplotlib -q

Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install seaborn -q

Note: you may need to restart the kernel to use updated packages.

In [6]:
# Required libraries

import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [7]:
# Reading and loading data

df = pd.read_csv('/Users/corneliastackhouse/Documents/Greenbootcamps/Test_Final_project/salaries.csv')

In [8]:
# Data exploration

df.head

<bound method NDFrame.head of        work_year experience_level employment_type                  job_title  \
0           2025               SE              FT  Machine Learning Engineer
1           2025               SE              FT  Machine Learning Engineer
2           2025               SE              FT               Data Manager
3           2025               SE              FT               Data Manager
4           2025               MI              FT          Platform Engineer
...          ...              ...             ...                        ...
73407       2020               SE              FT             Data Scientist
73408       2021               MI              FT   Principal Data Scientist
73409       2020               EN              FT             Data Scientist
73410       2020               EN              CT      Business Data Analyst
73411       2021               SE              FT             Data Scientist

        salary salary_currency  salary_in_usd employee_residence  \
0       160000             USD         160000                 US
1       136000             USD         136000                 US
2        97600             USD          97600                 US
3        55800             USD          55800                 US
4       214500             USD         214500                 US
...        ...             ...            ...                ...
73407   412000             USD         412000                 US
73408   151000             USD         151000                 US
73409   105000             USD         105000                 US
73410   100000             USD         100000                 US
73411  7000000             INR          94665                 IN

       remote_ratio company_location company_size
0               100               US            M
1               100               US            M
2                 0               US            M
3                 0               US            M
4                 0               US            M
...             ...              ...          ...
73407           100               US            L
73408           100               US            L
73409           100               US            S
73410           100               US            L
73411            50               IN            L

[73412 rows x 11 columns]>

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73412 entries, 0 to 73411
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           73412 non-null  int64
 1   experience_level    73412 non-null  object
 2   employment_type     73412 non-null  object
 3   job_title           73412 non-null  object
 4   salary              73412 non-null  int64
 5   salary_currency     73412 non-null  object
 6   salary_in_usd       73412 non-null  int64
 7   employee_residence  73412 non-null  object
 8   remote_ratio        73412 non-null  int64
 9   company_location    73412 non-null  object
 10  company_size        73412 non-null  object
dtypes: int64(4), object(7)
memory usage: 6.2+ MB

In [14]:
df.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [13]:
df.isnull().sum()

# No Null Values found'

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(39146)

In [15]:
df['job_title'].unique().tolist()

['Machine Learning Engineer',
 'Data Manager',
 'Platform Engineer',
 'Data Analyst',
 'Data Scientist',
 'Research Scientist',
 'Developer',
 'Manager',
 'Software Engineer',
 'Solutions Engineer',
 'Solutions Architect',
 'Architect',
 'Product Manager',
 'AI Engineer',
 'Data Product Owner',
 'Systems Engineer',
 'Business Intelligence Developer',
 'Engineer',
 'Data Engineer',
 'AI Architect',
 'Analyst',
 'Consultant',
 'Data Governance',
 'Applied Scientist',
 'Data Analytics Manager',
 'Associate',
 'Data Management Specialist',
 'Software Development Engineer',
 'Machine Learning Scientist',
 'Data Architect',
 'Power BI Developer',
 'Research Engineer',
 'Quantitative Developer',
 'Technical Lead',
 'Sales Development Representative',
 'System Engineer',
 'Analytics Engineer',
 'Solution Architect',
 'Encounter Data Management Professional',
 'Data Infrastructure Engineer',
 'Data Team Lead',
 'Business Intelligence Lead',
 'DevOps Engineer',
 'Decision Scientist',
 'Data Visualization Engineer',
 'Data Governance Analyst',
 'Data Quality Analyst',
 'Lead Analyst',
 'Data Specialist',
 'Software Developer',
 'Business Intelligence Analyst',
 'Engineering Manager',
 'MLOps Engineer',
 'Business Intelligence Engineer',
 'Data Developer',
 'Data and Reporting Analyst',
 'Postdoctoral Fellow',
 'Product Owner',
 'Research Analyst',
 'Data Reporting Analyst',
 'Full Stack Engineer',
 'Data Product Manager',
 'Data Quality Engineer',
 'Insight Analyst',
 'Data Management Analyst',
 'Product Designer',
 'Principal Software Architect',
 'Statistical Programmer',
 'Business Intelligence',
 'Data Lead',
 'Computational Biologist',
 'Data Strategist',
 'Principal Statistical Programmer',
 'BI Engineer',
 'Research Assistant',
 'Backend Engineer',
 'Full Stack Developer',
 'Enterprise Account Executive',
 'Business Analyst',
 'Data Integration Analyst',
 'Data Analytics Consultant',
 'BI Developer',
 'Research Associate',
 'Machine Learning Researcher',
 'Principal Researcher',
 'AI Developer',
 'QA Engineer',
 'AI Researcher',
 'Head of Data',
 'Statistician',
 'Risk Analyst',
 'Data Governance Specialist',
 'Data Operations Engineer',
 'Tech Lead',
 'Algorithm Developer',
 'Cloud Engineer',
 'Data Governance Lead',
 'Data Management Lead',
 'Data Analytics Specialist',
 'Data Strategy Lead',
 'Analytics Specialist',
 'Analytics Lead',
 'Data Analytics Developer',
 'Data Modeler',
 'Data Operations Manager',
 'Quantitative Researcher',
 'Product Analyst',
 'Bioinformatics Scientist',
 'BI Analyst',
 'Quantitative Analyst',
 'Robotics Engineer',
 'Machine Learning Developer',
 'Site Reliability Engineer',
 'Analista de Datos',
 'Big Data Analyst',
 'Data Scientist Manager',
 'Data Quality Lead',
 'Pricing Analyst',
 'Python Developer',
 'Lead Data Engineer',
 'Technical Writer',
 'Lead Engineer',
 'Machine Learning Lead',
 'Data and Reporting Professional',
 'Bioinformatician',
 'AI Scientist',
 'Computer Vision Engineer',
 'Data Management Associate',
 'AI Specialist',
 'AI Engineering Manager',
 'Member of Technical Staff',
 'Machine Learning Specialist',
 'Backend Developer',
 'Data Operations Specialist',
 'Data Analytics Lead',
 'Machine Learning Engineer 5',
 'Data Management Coordinator',
 'Technology Integrator',
 'Data Governance Manager',
 'Business Intelligence Specialist',
 'Prompt Engineer',
 'Scala Spark Developer',
 'AI Product Owner',
 'Analytics Analyst',
 'Controls Engineer',
 'Data Integration Engineer',
 'Machine Learning Tech Lead',
 'Clinical Data Operator',
 'Business Development Manager',
 'AI Data Engineer',
 'Cloud Database Administrator',
 'Data Management Consultant',
 'Master Data Management',
 'Data Reporter',
 'AI Lead',
 'Business Insights Manager',
 'Power BI Administrator',
 'Data Operations Analyst',
 'Machine Learning Architect',
 'AI Research Scientist',
 'AI Data Scientist',
 'Software Architect',
 'Cloud Database Engineer',
 'Stage',
 'Head of AI',
 'Data Visualization Developer',
 'Data Platform Engineer',
 'Data Integration Developer',
 'Business Intelligence Manager',
 'Data Integration Specialist',
 'Data Integrity Analyst',
 'Platform Data Engineer',
 'Bear Robotics',
 'Principal Application Delivery Consultant',
 'Data Visualization Specialist',
 'Director of Machine Learning',
 'Data Quality Specialist',
 'Chatbot Developer',
 'ETL Developer',
 'Artificial Intelligence Engineer',
 'Data Governance Architect',
 'Power BI Consultant',
 'Backend Software Engineer',
 'Data Visualization Analyst',
 'AI Product Manager',
 'Data Operations Associate',
 'Big Data Developer',
 'ML Infrastructure Engineer',
 'AI Machine Learning Engineer',
 'Cloud Developer',
 'Data Operations Lead',
 'Fullstack Engineer',
 'Machine Learning Quality Engineer',
 'Security Engineer',
 'Databricks Engineer',
 'DataOps Engineer',
 'Infrastructure Engineer',
 'Solution Engineer',
 'Big Data Engineer',
 'Machine Learning Performance Engineer',
 'Actuarial Analyst',
 'Data Analytics Associate',
 'Power BI Architect',
 'Machine Learning Platform Engineer',
 'AI Solution Architect',
 'Data Scientist Lead',
 'Machine Vision Engineer',
 'Technical Specialist',
 'Data Governance Engineer',
 'Machine Learning Model Engineer',
 'Marketing Analyst',
 'Data Management Manager',
 'Marketing Analytics Manager',
 'Applied AI ML Lead',
 'Data Strategy Manager',
 'Machine Learning Manager',
 'Data Product Analyst',
 'Data Quality Manager',
 'Elasticsearch Administrator',
 'Machine Learning Infrastructure Engineer',
 'People Data Analyst',
 'Frontend Engineer',
 'NLP Engineer',
 'SAS Developer',
 'Data Analytics Team Lead',
 'Machine Learning Modeler',
 'Data Integration Coordinator',
 'AI Programmer',
 'Admin & Data Analyst',
 'Head of Business Intelligence',
 'Head of Machine Learning',
 'ETL Engineer',
 'AI Research Engineer',
 'Business Intelligence Consultant',
 'Robotics Software Engineer',
 'AI Software Engineer',
 'Lead AI Engineer',
 'AI Software Development Engineer',
 'Master Data Specialist',
 'Consultant Data Engineer',
 'Manager Data Management',
 'Director of Business Intelligence',
 'Lead Data Scientist',
 'Applied Research Scientist',
 'CRM Data Analyst',
 'BI Data Analyst',
 'Applied Data Scientist',
 'Data DevOps Engineer',
 'Quantitative Research Analyst',
 'Lead Machine Learning Engineer',
 'Machine Learning Research Engineer',
 'Data Analyst Lead',
 'Data Pipeline Engineer',
 'Lead Data Analyst',
 'Business Data Analyst',
 'Marketing Data Scientist',
 'Deep Learning Engineer',
 'Financial Data Analyst',
 'Azure Data Engineer',
 'Principal Data Scientist',
 'Staff Data Analyst',
 'Machine Learning Software Engineer',
 'Applied Machine Learning Scientist',
 'Principal Machine Learning Engineer',
 'Principal Data Engineer',
 'Staff Machine Learning Engineer',
 'Staff Data Scientist',
 'Business Intelligence Data Analyst',
 'Finance Data Analyst',
 'Software Data Engineer',
 'Compliance Data Analyst',
 'Cloud Data Engineer',
 'Analytics Engineering Manager',
 'AWS Data Architect',
 'Product Data Analyst',
 'Autonomous Vehicle Technician',
 'Sales Data Analyst',
 'Applied Machine Learning Engineer',
 'BI Data Engineer',
 'Deep Learning Researcher',
 'Big Data Architect',
 'Computer Vision Software Engineer',
 'Marketing Data Engineer',
 'Data Science Tech Lead',
 'Marketing Data Analyst',
 'Principal Data Architect',
 'Data Analytics Engineer',
 'Cloud Data Architect',
 'Principal Data Analyst']

In [23]:
df['job_title'].value_counts()

job_title
Data Scientist                      11507
Data Engineer                        9423
Software Engineer                    7826
Data Analyst                         7374
Machine Learning Engineer            5815
                                    ...
Applied Research Scientist              1
People Data Analyst                     1
AI Software Development Engineer        1
Lead AI Engineer                        1
Controls Engineer                       1
Name: count, Length: 289, dtype: int64

In [24]:
top_10 = df['job_title'].value_counts().head(10)

print(top_10)

job_title
Data Scientist               11507
Data Engineer                 9423
Software Engineer             7826
Data Analyst                  7374
Machine Learning Engineer     5815
Engineer                      4056
Manager                       2506
Research Scientist            2295
Applied Scientist             1614
Analyst                       1419
Name: count, dtype: int64

In [26]:
bottom_10 = df['job_title'].value_counts(ascending=True).head(10).index.tolist()
print(bottom_10_values)

['Controls Engineer', 'Applied Research Scientist', 'AI Software Development Engineer', 'Lead AI Engineer', 'Analista de Datos', 'AI Machine Learning Engineer', 'Backend Software Engineer', 'Platform Data Engineer', 'Business Insights Manager', 'AI Data Engineer']

In [31]:
bottom_10_df = df['job_title'].value_counts(ascending=True).head(50).reset_index()
bottom_10_df.columns = ['Value', 'Count']
print("\nBottom 10 Least Recurring Values as a DataFrame:")
print(bottom_10_df)

# 28 unique jobtitles

Bottom 10 Least Recurring Values as a DataFrame:
                                Value  Count
0                   Controls Engineer      1
1          Applied Research Scientist      1
2    AI Software Development Engineer      1
3                    Lead AI Engineer      1
4                   Analista de Datos      1
5        AI Machine Learning Engineer      1
6           Backend Software Engineer      1
7              Platform Data Engineer      1
8           Business Insights Manager      1
9                    AI Data Engineer      1
10       Business Development Manager      1
11               Cloud Data Architect      1
12                  Analytics Analyst      1
13        Machine Learning Engineer 5      1
14             Data Scientist Manager      1
15                   Big Data Analyst      1
16                   CRM Data Analyst      1
17      Quantitative Research Analyst      1
18                People Data Analyst      1
19           Marketing Data Scientist      1
20           Principal Data Architect      1
21    Staff Machine Learning Engineer      1
22      Analytics Engineering Manager      1
23                 AWS Data Architect      1
24             Data Science Tech Lead      1
25            Marketing Data Engineer      1
26                 Sales Data Analyst      1
27           Deep Learning Researcher      1
28                   BI Data Engineer      1
29                  Data Analyst Lead      2
30                Power BI Consultant      2
31          Data Governance Architect      2
32      Autonomous Vehicle Technician      2
33                      Data Reporter      2
34                 Big Data Architect      2
35                    Cloud Developer      2
36              Scala Spark Developer      2
37        Data Management Coordinator      2
38                  Backend Developer      2
39             AI Engineering Manager      2
40             Marketing Data Analyst      2
41         Machine Learning Tech Lead      2
42               Data Operations Lead      2
43                  Solution Engineer      2
44             Data Pipeline Engineer      2
45                Azure Data Engineer      2
46  Director of Business Intelligence      2
47            Manager Data Management      2
48           Consultant Data Engineer      2
49             Master Data Specialist      2

In [32]:
job_title_counts = df['job_title'].value_counts()

# Filter job titles with more than 10 occurrences
recurring_job_titles = job_title_counts[job_title_counts > 10].index

# Filter the DataFrame
filtered_df = df[df['job_title'].isin(recurring_job_titles)]

# Group by company location and count job titles
grouped_by_location = filtered_df.groupby('company_location')['job_title'].value_counts()

# Display the result
print(grouped_by_location)

company_location  job_title
AD                Data Scientist                        1
AE                Machine Learning Engineer             2
                  AI Engineer                           1
                  Lead Data Scientist                   1
AM                Data Analyst                          4
                                                       ..
ZA                Business Intelligence Analyst         2
                  Data Strategist                       2
                  Developer                             2
                  Research Associate                    2
                  Machine Learning Software Engineer    1
Name: count, Length: 898, dtype: int64

In [33]:
df['company_location'].unique().tolist()

['US',
 'NZ',
 'CA',
 'GB',
 'AU',
 'IN',
 'DE',
 'LT',
 'SK',
 'FR',
 'AT',
 'PH',
 'AM',
 'SG',
 'LU',
 'BR',
 'NL',
 'IT',
 'CO',
 'CL',
 'PL',
 'CY',
 'ES',
 'CD',
 'CH',
 'LV',
 'IL',
 'CZ',
 'IE',
 'JP',
 'PE',
 'KR',
 'ZA',
 'EG',
 'PR',
 'LB',
 'GR',
 'AR',
 'FI',
 'MX',
 'DK',
 'NG',
 'BE',
 'BG',
 'EC',
 'SV',
 'CR',
 'HU',
 'PT',
 'HR',
 'KE',
 'SE',
 'UA',
 'TR',
 'PK',
 'HN',
 'MT',
 'RO',
 'VE',
 'DZ',
 'AS',
 'RS',
 'AE',
 'SA',
 'OM',
 'BA',
 'EE',
 'VN',
 'GI',
 'SI',
 'MU',
 'RU',
 'QA',
 'GH',
 'AD',
 'NO',
 'HK',
 'CF',
 'TH',
 'IR',
 'BS',
 'ID',
 'MY',
 'IQ',
 'CN',
 'MD']

In [38]:
# Values to keep 
titles_to_keep = ['Data Scientist', 'Data Engineer', 'Software Engineer', 'Data Analyst', 'Machine Learning Engineer', 'Engineer', 'Manager', 'Research Scientist', 'Applied Scientist', 'Analyst']
filtered_df = df[df['job_title'].isin(titles_to_keep)]
print(filtered_df)

       work_year experience_level employment_type                  job_title  \
0           2025               SE              FT  Machine Learning Engineer
1           2025               SE              FT  Machine Learning Engineer
6           2025               EN              FT               Data Analyst
7           2025               EN              FT               Data Analyst
8           2025               EN              FT               Data Analyst
...          ...              ...             ...                        ...
73403       2021               MI              FT             Data Scientist
73405       2021               MI              FT              Data Engineer
73407       2020               SE              FT             Data Scientist
73409       2020               EN              FT             Data Scientist
73411       2021               SE              FT             Data Scientist

        salary salary_currency  salary_in_usd employee_residence  \
0       160000             USD         160000                 US
1       136000             USD         136000                 US
6       130000             USD         130000                 NZ
7       115000             USD         115000                 NZ
8       130000             USD         130000                 NZ
...        ...             ...            ...                ...
73403   160000             SGD         119059                 SG
73405    24000             EUR          28369                 MT
73407   412000             USD         412000                 US
73409   105000             USD         105000                 US
73411  7000000             INR          94665                 IN

       remote_ratio company_location company_size
0               100               US            M
1               100               US            M
6                 0               NZ            M
7                 0               NZ            M
8                 0               NZ            M
...             ...              ...          ...
73403           100               IL            M
73405            50               MT            L
73407           100               US            L
73409           100               US            S
73411            50               IN            L

[53835 rows x 11 columns]

In [39]:
# Descriptive Statistics
print(filtered_df.describe())

          work_year        salary  salary_in_usd  remote_ratio
count  53835.000000  5.383500e+04   53835.000000  53835.000000
mean    2023.822309  1.645747e+05  160541.245862     20.941767
std        0.493413  1.973581e+05   71047.658634     40.599414
min     2020.000000  1.400000e+04   15000.000000      0.000000
25%     2024.000000  1.100000e+05  110000.000000      0.000000
50%     2024.000000  1.500000e+05  150000.000000      0.000000
75%     2024.000000  2.002000e+05  200000.000000      0.000000
max     2025.000000  3.040000e+07  774000.000000    100.000000

In [40]:
# average salary by job_title

avg_salary = filtered_df.groupby('job_title')['salary'].mean()
print(avg_salary)

job_title
Analyst                      116492.117689
Applied Scientist            181070.850062
Data Analyst                 110138.770410
Data Engineer                150868.320599
Data Scientist               167052.683845
Engineer                     175829.898422
Machine Learning Engineer    201512.767326
Manager                      169449.631285
Research Scientist           196339.258824
Software Engineer            189886.694991
Name: salary, dtype: float64

In [41]:
# export as cvs

filtered_df.to_csv('filtered_output.csv', index=False)